<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order Details PDF</title>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script type='text/javascript' src='https://html2canvas.hertzen.com/dist/html2canvas.js'></script>
  </head>
    <style>
      .btn {
        padding: 10px;
        min-width: max-content;
        background-color: #1c1c1c;
        color: #ffffff;
        border-radius: 5px;
        cursor: pointer;
      }

      .btn:hover {
        background-color: #383838;
      }

      .flex {
        display: flex;
      }

      .flex-col {
        flex-direction: column;
      }

      body {
        font-family: Arial, sans-serif;
        padding: 20px;
      }

      .container {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        border: 1px solid #000;
        padding: 20px;
      }

      .logo {
        text-align: center;
        margin-bottom: 20px;
      }

      .logo span {
        font-size: 13px;
      }

      h2 {
        text-align: center;
      }

      .section {
        margin-bottom: 20px;
      }

      .section h3 {
        margin-bottom: 10px;
        font-size: 18px;
        text-decoration: underline;
      }

      .details {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3px;
      }

      .details > div {
        padding: 1px;
      }

      .details div span:first-child {
        font-weight: bold;
        font-size: 13px;
      }
      
      .details div span:nth-child(2) {  
        font-size: 13px;
      }

      .footer {
        text-align: center;
        margin-top: 30px;
        font-size: 12px;
      }

      /* Ensure everything fits in the PDF */
      @media print {
        body {
          margin: 0;
          padding: 0;
        }
        .container {
          width: 100%;
          max-width: none;
          padding: 0;
        }
      }
    </style>
  </head>
  <body>
    <div class="container" id="orderDetails">
      <!-- Placeholder for dynamic data -->
      <div class="logo">
        <div class="flex flex-col" style="align-items: center; gap: 3px">
          <img src="/img/logo.png" alt="" height="40px" width="200px" />
          <span style="font-weight: 600;">HAX TECHNOLOGIES PVT LTD</span>
          <span>JL Bhawan, NH-37, Jalukbari, Guwahati-781013</span>
          <div class="flex" style="gap: 1rem;">
            <span>Email: contact@waagn.com</span>
            <span>CIN : U74999AS2016TC017481</span>
          </div>
        </div>
      </div>

      <div class="section">
        <h3>Order Information</h3>
        <div class="details">
          <div><span>Order ID:</span> <span id="orderId"> <%= data.order_id %></span></div>
          <div><span>Payment Mode:</span> <span id="paymentMode"><%= data.payment_mode %></span></div>
          <div>
            <span>Payment Status:</span> <span id="paymentStatus"><%= data.payment_status %></span>
          </div>
          <div><span>Order Date:</span> <span id="orderDate"><%= new Date(data.order_date).toLocaleDateString('en-GB') %></span></div>
          <div>
            <span>Pickup location:</span> <span id="paymentStatus"><%= data.pickup_location_address %></span>
          </div>
          <div>
            <span>Drop location:</span> <span id="paymentStatus"><%= data.delivery_location_address %></span>
          </div>
          <div>
            <span>Booking type:</span> <span id="paymentStatus"><%= data.booking_type %></span>
          </div>
          <div>
            <span>Amount:</span> <span id="paymentStatus"> ₹ <%= data.amount %></span>
          </div>

        </div>
        
      </div>

      <div class="section">
        <h3>Shipper Information</h3>
        <div class="details">
          <div><span>Shipper Name:</span> <span id="shipperName"><%= data.shipper_name %></span></div>
          <div>
            <span>Shipper Company:</span> <span id="shipperCompanyName"><%= data.shipper_company_name %></span>
          </div>
          <div>
            <span>Shipper Contact:</span>
            <span id="shipperContactNumber"><%= data.shipper_contact_number %></span>
          </div>
          <div><span>Shipper GST:</span> <span id="shipperGST"><%= data.shipper_gst %></span></div>
          <div><span>Shipper Email:</span> <span id="shipperEmail"><%= data.shipper_email_address %></span></div>
          <div>
            <span>Shipper Pincode:</span> <span id="shipperPincode"><%= data.shipper_pincode %></span>
          </div>
          <div>
            <span>Shipper Town:</span> <span id="shipperPincode"><%= data.shipper_town %></span>
          </div>
        </div>
      </div>

      <div class="section">
        <h3>Receiver Information</h3>
        <div class="details">
          <div><span>Receiver Name:</span> <span id="receiverName"><%= data.receiver_name %></span></div>
          <div>
            <span>Receiver Company:</span>
            <span id="receiverCompanyName"><%= data.receiver_company_name %></span>
          </div>
          <div>
            <span>Receiver Contact:</span>
            <span id="receiverContactNumber"><%= data.receiver_contact_number %></span>
          </div>
          <div><span>Receiver GST:</span> <span id="receiverGST"><%= data.receiver_gst %></span></div>
          <div>
            <span>Receiver Email:</span> <span id="receiverEmail"><%= data.receiver_email_address %></span>
          </div>
          <div>
            <span>Receiver Pincode:</span> <span id="receiverPincode"><%= data.receiver_pincode %></span>
          </div>
          <div>
            <span>Receiver Town:</span> <span id="shipperPincode"><%= data.receiver_town %></span>
          </div>
        </div>
      </div>

      <div class="section">
        <h3>Goods Information</h3>
        <div class="details">
          <div>
            <span>Length Of Box:</span>
            <span><%= data.length_of_box %> cm</span>
          </div>
          <div>
            <span>Breadth Of Box:</span> 
            <span id="driverName"><%= data.breadth_of_box %> cm</span>
          </div>
          <div>
            <span>Height Of Box:</span> 
            <span id="driverName"><%= data.height_of_box %> cm</span>
          </div>
          <div>
            <span>Volume:</span> 
            <span id="driverName"><%= data.volume_of_consignment %> cm<sup>3</sup></span>
          </div>
          <div>
            <span>Number of boxes:</span> 
            <span id="driverName"><%= data.number_of_boxes %></span>
          </div>
          <div>
            <span>Actual Weight :</span> 
            <span id="driverName"><%= data.actual_weight_of_consignment %> kg</span>
          </div>
          <div>
            <span>Goods Type:</span> 
            <span id="driverName"><%= data.types_of_goods %></span>
          </div>
          <div>
            <span>Risk Of Goods:</span> 
            <span id="driverName"><%= data.consignment_risk %></span>
          </div>
        </div>
      </div>

      <div class="section">
        <h3>3pl partner Information</h3>
        <div class="details">
          <div>
            <span>3PL Name:</span>
            <span><%= data.company_name %></span>
          </div>
          <div>
            <span>Godown Location:</span> 
            <span id="driverName"><%= data.full_address %></span>
          </div>
          <div>
            <span>Godown Contact:</span> 
            <span id="driverName"><%= data.godown_contact %></span>
          </div>
          <div>
            <span>Godown Manager:</span> 
            <span id="driverName"><%= data.contact_person_name %></span>
          </div>         
        </div>
      </div>

      <div class="section">
        <h3>Vehicle and Driver Information</h3>
        <div class="details">
          <div>
            <span>Assigned Vehicle:</span>
            <span id="vehicleRegistrationNumber"><%= data.registration_number %></span>
          </div>
          <div><span>Driver Name:</span> <span id="driverName"><%= data.driver_name %></span></div>
        </div>
      </div>

      <div class="section">
        <h3>Dispatch Details</h3>
        <div class="details"> 
          <div>
            <span>Assigned Vehicle:</span> 
            <span id="partnerCart"><%= data.partner_cart != null ? data.partner_cart : 'N/A' %></span>
          </div>
          <div>
            <span>Driver Name:</span> 
            <span id="assignedDriverName"><%= data.assigned_driver_name != null ? data.assigned_driver_name : 'N/A' %></span>
          </div>
          <div>
            <span>Driver Number:</span> 
            <span id="assignedDriverNumber"><%= data.assigned_driver_number != null ? data.assigned_driver_number : 'N/A' %></span>
          </div>
          <div>
            <span>E-way Bill No:</span> 
            <span id="ewayBillNo"><%= data.e_way_bill_no != null ? data.e_way_bill_no : 'N/A' %></span>
          </div>
          <div>
            <span>Actual Weight:</span> 
            <span id="actualWeight"><%= data.actual_weight != null ? data.actual_weight : 'N/A' %> kg</span>
          </div>
          <div>
            <span>Charged Weight:</span> 
            <span id="chargedWeight"><%= data.charged_weight != null ? data.charged_weight : 'N/A' %> kg</span>
          </div>
          <div>
            <span>Partner Amount:</span> 
            <span id="partnerAmount"> ₹ <%= data.partner_amount != null ? data.partner_amount : 'N/A' %></span>
          </div>
        </div>
      </div>

      <div class="footer">
        <p>&copy; Waagn Private Limited - All Rights Reserved</p>
      </div>
    </div>

    <button class="btn" onclick="generatePDF()">Generate PDF</button>

    <script>
    function generatePDF() {
      window.jsPDF = window.jspdf.jsPDF;
      let doc = new jsPDF();
      let elementHTML = document.querySelector("#orderDetails");
      doc.html(elementHTML, {
        callback: function(doc) {
          doc.save('order-details.pdf');
        },
        margin: [2, 2, 2, 2],
        autoPaging: 'text',
        x: 0,
        y: 0,
        width: 194,
        windowWidth: 675,
        height: 200
      });
    }
    </script>
  </body>
</html>
